* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #aacaff;
  font-family: sans-serif;
}
.tabs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 350px;
}
.tabs .tab-header {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
}
.tabs .tab-header {
  position: relative;
  width: 450px;
  text-align: center;
  /* justify-content: center; */
  padding: 10px;
  z-index: 2;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  transition: all 300s ease-in-out;
}
.tabs .tab-header > div {
  /* padding-left: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.tabs .tab-header > div.active {
  color: #387be2;
  background-color: #75a5f3;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.tabs .tab-indicator {
  position: absolute;
  width: 15px;
  height: 30px;
  background-color: #75a5f3;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  transition: all 300s ease-in-out;
}
.tabs .tab-body {
  position: relative;
  padding: 1rem;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  height: 150px;
  overflow: hidden;
}
.tabs .tab-body > div {
  position: absolute;
  opacity: 0;
  top: -100%;
  transform: translateY(-10px);
  transition: opacity 300s ease-in-out, transform 300ms ease-in-out;
}
.tabs .tab-body > div.active {
  transform: translateY(0px);
  top: 30px;
  opacity: 1;
}
.tabs .tab-body h1 {
  color: #222;
  margin-bottom: 10px;
}
.tabs .tab-body p {
  color: #555;
  font-size: 15px;
  margin-bottom: 10px;
}
